torch
torchsde
torchvision
torchaudio
einops
safetensors>=0.4.2
aiohttp
pyyaml
Pillow
scipy
psutil

kornia>=0.7.1
spandrel
soundfile

cmake
ninja

numpy
scipy
opencv-python
pillow
roma
nerfacc>=0.5.3
PyMCubes
scikit-learn

diffusers>=0.26.1
transformers>=4.36.2
open_clip_torch

torchmetrics
pytorch_msssim

imageio
imageio-ffmpeg
matplotlib

trimesh
plyfile
pygltflib
xatlas
pymeshlab

torchtyping
tqdm
jaxtyping
packaging
OmegaConf
pyhocon

accelerate
pytorch-lightning==2.1.2
gradio==3.41.2
huggingface-hub
einops
webdataset
tensorboard
PyMCubes
rembg
bitsandbytes
imageio[ffmpeg]
git+https://github.com/NVlabs/nvdiffrast/